html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Garante que o body ocupe a altura total da viewport */
  overflow-x: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o layout ocupe toda a altura da página */
}

.content {
  flex-grow: 1; /* Faz com que o conteúdo ocupe o espaço disponível */
  padding: 16px;
  box-sizing: border-box;
}

.main-footer {
  width: 100%; /* Evita que o rodapé ultrapasse a largura da página */
}
