
CREATE TABLE `administrador` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nome` varchar(255) NOT NULL, `email` varchar(254) NOT NULL UNIQUE, `senha` varchar(255) NOT NULL, `data_criacao` datetime(6) NOT NULL);
CREATE TABLE `categoria` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nome` varchar(255) NOT NULL, `descricao` longtext NULL);
CREATE TABLE `configuracao` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `chave` varchar(255) NOT NULL, `valor` varchar(255) NOT NULL);
CREATE TABLE `marca` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nome` varchar(255) NOT NULL, `descricao` longtext NULL);
CREATE TABLE `tipo_licor` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nome` varchar(255) NOT NULL, `descricao` longtext NULL);
CREATE TABLE `usuario` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `last_login` datetime(6) NULL, `is_superuser` bool NOT NULL, `email` varchar(254) NOT NULL UNIQUE, `nome` varchar(255) NOT NULL, `password` varchar(255) NOT NULL, `telefone` varchar(20) NULL, `tipo_usuario` varchar(50) NOT NULL, `data_criacao` datetime(6) NOT NULL, `is_active` bool NOT NULL, `is_staff` bool NOT NULL);
CREATE TABLE `usuario_groups` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `usuario_id` bigint NOT NULL, `group_id` integer NOT NULL);
CREATE TABLE `usuario_user_permissions` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `usuario_id` bigint NOT NULL, `permission_id` integer NOT NULL);
CREATE TABLE `endereco` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `endereco` longtext NOT NULL, `cidade` varchar(200) NOT NULL, `estado` varchar(100) NOT NULL, `cep` varchar(20) NOT NULL, `pais` varchar(100) NOT NULL, `usuario_id` bigint NOT NULL);
CREATE TABLE `log_acao` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `acao` longtext NOT NULL, `data_acao` datetime(6) NOT NULL, `admin_id` bigint NULL);
CREATE TABLE `pedido` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `data_pedido` datetime(6) NOT NULL, `status` varchar(50) NOT NULL, `valor_total` numeric(10, 2) NOT NULL, `usuario_id` bigint NOT NULL);
CREATE TABLE `pagamento` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `metodo_pagamento` varchar(50) NOT NULL, `status_pagamento` varchar(50) NOT NULL, `data_pagamento` datetime(6) NOT NULL, `pedido_id` bigint NOT NULL);
CREATE TABLE `historico_pedido` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `status_antigo` varchar(50) NOT NULL, `status_novo` varchar(50) NOT NULL, `data_modificacao` datetime(6) NOT NULL, `admin_id` bigint NULL, `pedido_id` bigint NOT NULL);
CREATE TABLE `produtos` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nome` varchar(255) NOT NULL, `descricao` longtext NOT NULL, `preco_custo` numeric(10, 2) NOT NULL, `preco_venda` numeric(10, 2) NOT NULL, `quantidade_estoque` integer NOT NULL, `sku` varchar(255) NOT NULL UNIQUE, `status` varchar(50) NOT NULL, `teor_alcoolico` numeric(4, 2) NULL, `volume` varchar(50) NULL, `data_adicionado` datetime(6) NOT NULL, `data_modificado` datetime(6) NOT NULL, `categoria_id` bigint NULL, `marca_id` bigint NULL, `tipo_licor_id` bigint NULL);
CREATE TABLE `imagem_produto` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `imagem` varchar(100) NULL, `descricao_imagem` longtext NULL, `produto_id` bigint NOT NULL);
CREATE TABLE `avaliacao` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `nota` integer NOT NULL, `comentario` longtext NULL, `data_avaliacao` datetime(6) NOT NULL, `usuario_id` bigint NOT NULL, `produto_id` bigint NOT NULL);
CREATE TABLE `desconto` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `percentual` numeric(5, 2) NOT NULL, `data_inicio` datetime(6) NOT NULL, `data_fim` datetime(6) NOT NULL, `descricao` longtext NULL, `categoria_id` bigint NULL, `cliente_id` bigint NULL, `produto_id` bigint NULL, `tipo_licor_id` bigint NULL);
ALTER TABLE `usuario_groups` ADD CONSTRAINT `usuario_groups_usuario_id_group_id_2e3cd638_uniq` UNIQUE (`usuario_id`, `group_id`);
ALTER TABLE `usuario_groups` ADD CONSTRAINT `usuario_groups_usuario_id_161fc80c_fk_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`);
ALTER TABLE `usuario_groups` ADD CONSTRAINT `usuario_groups_group_id_c67c8651_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`);
ALTER TABLE `usuario_user_permissions` ADD CONSTRAINT `usuario_user_permissions_usuario_id_permission_id_3db58b8c_uniq` UNIQUE (`usuario_id`, `permission_id`);
ALTER TABLE `usuario_user_permissions` ADD CONSTRAINT `usuario_user_permissions_usuario_id_693d9c50_fk_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`);
ALTER TABLE `usuario_user_permissions` ADD CONSTRAINT `usuario_user_permiss_permission_id_a8893ce7_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`);
ALTER TABLE `endereco` ADD CONSTRAINT `endereco_usuario_id_26783601_fk_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`);
ALTER TABLE `log_acao` ADD CONSTRAINT `log_acao_admin_id_eda0ab2a_fk_administrador_id` FOREIGN KEY (`admin_id`) REFERENCES `administrador` (`id`);
ALTER TABLE `pedido` ADD CONSTRAINT `pedido_usuario_id_64a44bd6_fk_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`);
ALTER TABLE `pagamento` ADD CONSTRAINT `pagamento_pedido_id_73d31ea5_fk_pedido_id` FOREIGN KEY (`pedido_id`) REFERENCES `pedido` (`id`);
ALTER TABLE `historico_pedido` ADD CONSTRAINT `historico_pedido_admin_id_8297fb71_fk_administrador_id` FOREIGN KEY (`admin_id`) REFERENCES `administrador` (`id`);
ALTER TABLE `historico_pedido` ADD CONSTRAINT `historico_pedido_pedido_id_fbda6266_fk_pedido_id` FOREIGN KEY (`pedido_id`) REFERENCES `pedido` (`id`);
ALTER TABLE `produtos` ADD CONSTRAINT `produtos_categoria_id_b7177d63_fk_categoria_id` FOREIGN KEY (`categoria_id`) REFERENCES `categoria` (`id`);
ALTER TABLE `produtos` ADD CONSTRAINT `produtos_marca_id_dad931b0_fk_marca_id` FOREIGN KEY (`marca_id`) REFERENCES `marca` (`id`);
ALTER TABLE `produtos` ADD CONSTRAINT `produtos_tipo_licor_id_0bf21971_fk_tipo_licor_id` FOREIGN KEY (`tipo_licor_id`) REFERENCES `tipo_licor` (`id`);
ALTER TABLE `imagem_produto` ADD CONSTRAINT `imagem_produto_produto_id_8428348e_fk_produtos_id` FOREIGN KEY (`produto_id`) REFERENCES `produtos` (`id`);
ALTER TABLE `avaliacao` ADD CONSTRAINT `avaliacao_usuario_id_45720278_fk_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`);
ALTER TABLE `avaliacao` ADD CONSTRAINT `avaliacao_produto_id_736e1461_fk_produtos_id` FOREIGN KEY (`produto_id`) REFERENCES `produtos` (`id`);
ALTER TABLE `desconto` ADD CONSTRAINT `desconto_categoria_id_b1258ce5_fk_categoria_id` FOREIGN KEY (`categoria_id`) REFERENCES `categoria` (`id`);
ALTER TABLE `desconto` ADD CONSTRAINT `desconto_cliente_id_680f993f_fk_usuario_id` FOREIGN KEY (`cliente_id`) REFERENCES `usuario` (`id`);
ALTER TABLE `desconto` ADD CONSTRAINT `desconto_produto_id_003497ef_fk_produtos_id` FOREIGN KEY (`produto_id`) REFERENCES `produtos` (`id`);
ALTER TABLE `desconto` ADD CONSTRAINT `desconto_tipo_licor_id_c6f1b5c9_fk_tipo_licor_id` FOREIGN KEY (`tipo_licor_id`) REFERENCES `tipo_licor` (`id`);
