.layout {
  display: flex;
  flex-direction: column; /* Para que o conteúdo fique abaixo do AppBar */
}

.content {
  flex-grow: 1;
  padding: 16px;
  margin-top: 60px; /* Alinhado com a altura do AppBar */
  transition: margin-left 0.3s ease;
  margin-left: 225px; /* Alinhado com o drawerWidth quando o drawer está aberto */
}

.drawer-closed .content {
  margin-left: 40px; /* Alinhado com o tamanho do drawer quando fechado */
}
