.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-content {
  flex-grow: 1;
  padding: 16px;
  margin-top: 60px;
  transition: margin-left 0.3s ease;
  margin-left: 225px;
}

.drawer-closed .admin-content {
  margin-left: 40px;
}
